<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/knitting">Knitting</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<br>
			<br>
			<footer>
	    		<ul>
	        		<li><a href="mailto:etregelles@gmail.com">email</a></li>
	        		<li><a href="https://github.com/emtreg">github.com/emtreg</a></li>
				</ul>
			</footer>
		</body>
	</html>
