<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<header>
			<h2 class="headerName">Emily Tregelles</h2>
		</header>
		<body>
			<nav>
	    		<ul>
	        		<li><a class = "link" href="/">Blog</a></li>
		        	<li><a class = "link" href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><img  class = "moveimage" src="https://user-images.githubusercontent.com/34899774/73876868-be2f9280-4825-11ea-8a26-3aa0797f5ca4.png" alt="GitHub Logo" width="20" height="20" hspace="5"><a href="https://github.com/emtreg">github.com/emtreg</a></li>
				</ul>
			</footer>
		</body>
	</html>
